.clear{
	clear: both;
}

.bg{
	background:#eef0f4;	
	width: 100%;
	margin:70px 0 40px 0;	
}
.about-company{	
	width: 100%;	
	.zk-button-text{
		margin-top: 4%;
		height:20px;	
		.button-link{		
			background: url(..//img/button-aboutcompany.png)center left no-repeat;						
			color:#0066b0;
			padding-top: 5px;	
			padding-left: 30px;
			height: 22px;
			display: inline-block;			
			span{
				border-bottom: 1px dashed #0066b0;	
			}
			span:hover{
				border-bottom: 1px solid rgba(0,0,0,0.0);
			}
		}		
	}		
	.blk-left{
		max-height: 318px;
		float: left;		
		min-width: 360px;
		width: 37%;
		display: none;
		visibility: hidden;
	}
	.blk-right{	
			float: left;		
		    font-family: MSC-1;		   
		    color:#71777a;
		    font-size: 14px;
		    padding:30px 20px 3% 20px; 
		    width: 100%;
		    h1{
		    	color:#414143;
		    	font-size: 19px;		    	
		    	padding-bottom: 20px;
		    	font-family: MC-300;
		    	font-weight: bold;
		    	letter-spacing: 1.4px;		    	
		    }
		      
	}
}

						// ABOUT-COMPANY===========FINISH==

					//BRENDS=======

.zk-caption{
	margin-top: 45px;
	border-bottom: 1px solid #e1e6e9;
	.zk-brends-caption{
		float: left;
		color:#414143;
    	font-size: 19px;    	
    	font-family: MC-300;
    	font-weight: bold;
    	letter-spacing: 1.4px;
    	padding:0 0 15px 20px;	
	}
	.zk-liliya img{
		float: right;
		padding:0 20px 15px 0;	
	}
}
.zk-brends{
	margin-top:65px;
	text-align: center;	
}


											//END BRENDS==

											//INFORMATION======

.zk-bg-info{
	background-color: #F9F9F9;
	margin: 0 auto;
	margin-top: 3px;	
}

.zk-info-top-menu  {
	margin: 15px 0;
	.zk-first-img{
		background: url(..//img/zk-home-info.png) no-repeat center left;
		padding-left: 25px;
		margin-left: 17px;
	}
	ul li{
		float:left;		
		margin-left: 15px;
		margin-bottom: 25px;
		margin-top: 10px;		
		a{
			border-bottom: 2.7px dotted #2f64ad;
			color: #2f64ad;
    		font-family: MSC-1;
    		font-size: 13px;
		}		
	}
	ul li:last-child a{
			color: #9b9b9b;
			border-bottom:none;
			font-family: MSC-1;
			font-size: 11px;

		}
		ul li a:hover{
			border-bottom: none;
			border-bottom: 3px solid rgba(0,0,0,0.0);
		}
}



.zk-content-info{
	.zk-caption-info{
		border-bottom: 1px solid #dfe4e8;
    	margin-bottom: 10px;	    
	    font-family: MC-700;
    	font-size: 16px;
    	font-weight: bold;
    	padding-bottom: 10px;
    	span{
    		//display: inline-block;
    		border-bottom: 1px solid #c40237;
    		padding-bottom: 10px;
    		
    	}	    
	}	
	.zk-newsContent{
		background-color: #fff;
	    border-radius: 8px;
	    box-shadow: 0 2px 5px #eaeaea;
	    margin-bottom: 15px;
	    padding:17px;
	    width: 100%;
	    .zk-left{
	    	width: 30%;
	    	float: left;	    	
   			padding: 17px 17px 10px 0px;
   			text-align: center;
   			height: 10%;
   			margin-right: 15px;
   			overflow: hidden;   			
	    }
	    .zk-right{
	    	float: none;
	    	width: 100%;
	    	font-family: MSC-1;
	    	font-weight: bold;
	    	font-size: 14px;
	    	color:#5a6164;
	    	.news-date{
	    		color: #737678;
			    font-family: MSC-1;
			    font-size: 12px;
			    padding-left: 18px;
			    background: url(..//img/ico-calendar.png) no-repeat scroll left center;
	    	}
	    }
	}
	.zk-back{
		border-bottom: 2.5px dotted #2f64ad;
		color: #2f64ad;
		font-family: MSC-1;
		font-size: 14px;
		display: inline-block;
		height:25px;
		cursor: pointer;
	}
	.zk-back:hover{
		border-bottom: none;
		border-bottom: 3px solid rgba(0,0,0,0.0);
	}
}





									//=========CATEGORY=======




.zk-category-5box{padding-left: 17%;}
.zk-category{
	display: inline-block;
    float: left;
    margin-right: 14px;
    margin-top: 15px;
    position: relative;
    .zk-product{
    	.zk-bg-product{
    		background: #fff;
		    border-radius: 6px;
		    box-shadow: 0 2px 5px #dcdcdc;		   
		    width: 150px;
		    overflow: hidden;
		    min-height: 310px;    		    
		    .zk-name-product{
		    	display: block;
		    	padding: 9px;		    	
		    	.zk-img {
		    		text-align: center;		    		
		    		height: 120px;
		    		width: 150px;
		    		padding: 15px 20px 0 10px;		    			    		
		    	}
		    	.zk-title{
	    		    color: #5D84BA;
				    font-family: MSC-1;
				    font-size: 14px;
				    margin: 10px 5px;				    
				    overflow: hidden;
				    border-bottom: 2.5px dotted #698BBA;
				    //height: 38px;
				    width:120px;
				    //display: inline-block;			   		   			   
		    	}		    	
	    		.zk-title:hover{
	    			border:none;
				}		    	
		    }
		    .zk-status-product {
		    	font-size: 13px;
    			margin: 3px 5px;
    			padding: 0px 10px;
    			font-family: MC-700;
    			img{
    				width: 8px;
    				height: 6px;    				
    			}
    		
		    }
		    .zk-price{
		    	border-top: 1px solid #e5e5e3;		    	
			    color: #434343;			    
			    font-family: MC-700;
			    margin-top: 10px;			    
			    padding: 15px 12px;
			    font-size: 18px;
			    font-weight: bold;
			    margin-bottom: 37px;
		    }
    	}
    	.zk-bg-product:hover{
    		border-radius: 6px 6px 0px 0px;  				//<<<<<<ON=THE=HOVER=TO=ZK-SHOW-MENU
    	}
    	.zk-show-menu{
    		display: none;
    		position: absolute;
    		z-index: 9999;
    		background: #fff;
		    border-radius: 0px 0 6px 6px;
		    box-shadow: 0 2px 5px #dcdcdc;
		    width: 150px;		     		    	
    		.zk-read-more{
    			background: #c40237;
			    border: 3px solid #c40237;
			    border-radius: 4px;
			    color: #ffffff;
			    display: inline-block;
			    font-family: MSC-2;
			    font-size: 11px;
			    margin: 10px 15px 10px 10px;
			    padding: 7px 10px;
			    text-align: center;
			    transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border 0.5s ease 0s;
    		}
    		.zk-read-more:hover{
				background: none;
				color: #c40237;				
    		}
    		.zk-basket{
    			text-align: center;
    			background: url(..//img/ico-addBasket.png)center right no-repeat;
    			width: 20px;
    			height:19px;    			
    			display: inline-block;
    			vertical-align: middle;
    			transition: background 0.5s;
    			
    		}
    		.zk-basket:hover{
    			background: url(..//img/ico-addBasket-hover.png);
    		}    		
    	}    	
    }
}





						//END OF A CATEGORY===================

						//START A SEPARATE-PRODUCT=============

.zk-head-caption{
	font-family: MC-700;
    font-size: 16px;
    border-bottom: 1px solid  #dfe4e8;
    padding-bottom: 10px;
    margin-top: 20px; 
    span{    	
    	border-bottom: 1px solid #c40237;
    	padding-bottom: 10px;  		
    }   
}
.zk-product-block{
	background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 5px #eaeaea;    
	margin: 20px 0;
	text-align: center;	
	padding: 10px 0;
	.zk-left{
		//float: left;
		margin: 0 auto;
		.zk-left-blok{				
			margin-top: 20px;
			width: 300px;
			height:auto;
			text-align: center;			
			vertical-align: middle;
			padding-left: 12px;	
			margin: 0 auto;
			.zk-top-box {						
				//height:377px;
				text-align: center;
				vertical-align: middle;
				border: 1px solid #e5e5e3;
    			border-radius: 4px;
    			padding-top: 20%;    			
    			margin: 0 auto;	
    			margin-bottom: 20px;

			}
			.zk-middle-box{				
				border: 1px solid #c0cfda;
				width: 70px;
				height:70px;
				text-align: center;
				padding-top: 3%;
				margin: 0 auto;
				img{
					max-width: 100%;
					max-height:100%;
				}				
			}
			.zk-box-comments{
				border: 1px solid #e5e5e3;
			    border-radius: 4px;
			    box-sizing: border-box;
			    margin: 20px 0;
			    min-height: 50px;
				.zk-comment-links{
					margin-bottom: 20px;					
					#tab_l1, #tab_l2{
						padding:7px 23px;
						text-align: center;
    					width: 49%;						
						//float: left;
						color: #737678;    
    					font-family: MC-500;
    					font-size: 14px;
    					display: inline-block;
    					//margin-bottom: 11px;
    					cursor: pointer;    					
					}					
				}
				.zk-describe{
					color: #434343;
					text-align: center;		    
				    font-family: MC-500;
				    font-size: 12px;				    
				    padding: 25px 10px 15px 10px; //25
				    height:70px;				   
				    p{
				    	text-align: left;		
				    }
					
				    .blog-add-comment{ 

				    	.zk-button-comments{
				    		//display: none;
				    		color: #fff;
				    		margin: 0 auto;	
						    text-shadow: 0 1px 0 #5D8634;
						    display: inline-block;
						    border-radius: 3px;
						    text-align: center;
						    text-decoration: none;
						    font-size: 14px;
						    padding-top: 5px;
						    //  display: none;
					    	//visibility: v;				    	
					    	width: 185px;
					    	height: 30px;
					    	border-radius: 3px;
					    	display: inline-block;
					    	text-align: center;
					    	background: linear-gradient(to bottom, #99D23E 0%,#63AA28 100%);						    
				    	}
				    }				    
				}
			}
		}
	}
	.zk-center{
		//float: left;
		padding: 10px 0;
    	//width: 45%;
    	width: 220px;
    	//margin: 20px 15px 0 15px;
    	margin:0 auto;
    	.zkrank{
			color: #737678; 
    		font-size: 16px;
    		//float: left;
    		//width: 220px;
    		font-family: MC-500;
    	}
    	.zk-top-rank{
    		//border-bottom: 3px solid #e5e5e3;
    		padding-bottom: 30px;
	    	.zk-first-box{
	    		color: #737678; 
	    		font-size: 16px;
	    		//float: left;
	    		//width: 220px;
	    		font-family: MC-500;
	    		.zk-input-stars{	    				
	    			padding-top: 2px;	
	    		}
	    	}
	    	.zk-second-box, .zk-third-box{
	    		//float: left;
	    		//border-left: 1px solid #e5e5e3;
			    margin-left: 17px;
			    padding-left: 17px;
			    background: url("/img/cur_grey_bot.png") no-repeat center right 4px;	    			
			    a{
			    	border-bottom: 2.5px dotted #2f64ad;
				    color: #2f64ad;
				    font-family: MC-500;
				    font-size: 12px;
				    margin-right: 17px;			    
				    
			    }
			    a:hover{
			    	border-bottom: none;
			    	border-bottom: 3px solid rgba(0,0,0,0.0);
			    }
	    	}
    	}
    	.zk-price-product{
    		height: 82px;
    		margin-bottom: 10px; //20
    		//border-bottom: 1px solid #e5e5e3;
    		.zkprice{
				background: url("/img/bg-price.png") repeat scroll 0 0;			   
			    color: #434343;
			    //float: left;
			    font-family: MC-700;
			    font-size: 24px;
			    height: 49px;
			    margin: 15px 16px 15px 0;
			    padding: 12px 0 12px 37px;
			    width: 163px;
			    span{
			    	font-size: 16px;
			    	vertical-align: top;
			    }
    		}
    		.zkstatus{
				color: #434343;
			    //float: left;
			    font-family: MSC-1;
			    font-size: 16px;
			    margin-top: 10px;//31
			    background: url("/img/ico-check.png") no-repeat center left 0px;
			   	//padding-left: 15px;
			   	padding-top: 0px;
    		}

    	}
    	.zk-add-button{
    		//float: left;
    		margin:  0 auto;
		    cursor: pointer;
		    text-align: left;
		    padding-right: 3px;		    
		    border: 3px solid #c40237;
		    border-radius: 4px;					
			margin-top: 20px;
			width: 202px;			
			max-height:43px;
			border: 3px solid #c40237;
	    	border-radius: 4px;
    		.zk-add{    			
				background: #c40237;			    
			    color: #ffffff;
			    display: inline-block;
			    max-width: 165px;			    
			   	height: 39px;
			    font-family: MSC-2;
			    font-size: 13px;			       
			    padding: 10px 14px 10px 10px;		   
			    margin-right: 5px;
			    //text-align: center;
			    transition: background-color 0.5s ease 0s, color 0.5s ease 0s, border 0.5s ease 0s;
			    
    		}
    		.zk-add:hover{
				background: none;
				color: #c40237;				
    		}
    		.zk-basket-button{    			
				text-align: center;
    			background: url(..//img/ico-addBasket.png)center left no-repeat;
    			width: 20px;//20
    			height:19px;				
    			display: inline-block;
    			vertical-align: middle;
    			transition: background 0.5s;    				
    		}
    		.zk-basket-button:hover{
    			background: url(..//img/ico-addBasket-hover.png)center left  no-repeat;
    		}    		
    	}    	
	}
	.zk-right{
		//float: left;
		padding: 10px;
		max-width: 17%;
		min-width: 180px;		
		text-align: center;
		margin: 0 auto;
		.zk-right-boxs{
			margin: 0 auto;
			li{
				border: 2px solid #e8e8e6;
			    border-radius: 4px;
			    display: block;			    
			    margin: 0 0 10px;
			    padding-top: 11px;
			    text-align: center;
			    
			    img{
			    	text-align: center;
			    	margin:0 auto;
			    }
			    span{
			    	color: #434343;
				    display: block;
				    font-family: MSC-1;
				    font-size: 14px;
				    margin: 10px 0;
				    text-align: center;
			    }
			}
		}
		.zk-social{			
			text-align: center;
			width: 170px;
			height: 30px;
			margin: 0 auto;						
			.zksocial{
				.vk, .facebook, .ok, .myworld, .google, .twitter{border-radius: 3px;}

				.vk:hover{
					background: rgba( #48729E, 0.77);
				}				 
				.facebook:hover{
					background: rgba( #3B5998, 0.77);
				} 
				.ok:hover{
					background: rgba( #EB722E, 0.77);
				} 
				.myworld:hover{
					background: rgba(#168DE2, 0.77);
				}
				.google:hover{
					background: rgba(#DC4E41, 0.77);
				}
				.twitter:hover{
					background: rgba(#00ACED, 0.77);
				}

				.vk{
					background: #48729E;					
				}
				.facebook{
					background: #3B5998;					
				}
				.ok{
					background: #EB722E;
				}
				.myworld{
					background: #168DE2;
				}
				.google{
					background: #DC4E41;
				}
				.twitter{
					background: #00ACED;
				}
				ul{
					text-align: center;
					li{
						width: 24px;
						height:24px;
						float: left;
						margin-right: 3px;
						a{
							display: inline-block;
						}
					}
				}
			}
			span{
				color: #737678;
			    display: block;
			    font-family: MSC-1;
			    font-size: 12px;
			    margin-bottom: 8px;
			    text-align: center;
			}
		}
	}
}





					// INPUT-STARS***************/

.zk-first-box{
	// margin-top:25px;
	// margin-bottom:31px;
	.zk-input-stars{
	    display: inline-block;
	    //font-size: 0px;
	    input[type="radio"]{
	        display: none;
	    }
	    .az-none{
	        display: none;
	    }
	    .label1, .label2, .label3, .label4, .label5{
	    	margin-left:0px;
	    	padding-top: 10px;	    	
	        width: 23px !important;
	        height: 22px;
	        display: inline-block;
	        background: url(../img/star22.png) no-repeat top center;	        
	        cursor: pointer;	        
	    }
	    .radio1:checked ~ label,	
	    .radio2:checked ~ label,
	    .radio3:checked ~ label,
	    .radio4:checked ~ label,
	    .radio5:checked ~ label, {
	        background: url(../img/star11.png) no-repeat top center;
	    }
	    .radio1:checked ~ .label1 ~ label,
	    .radio2:checked ~ .label2 ~ label,
	    .radio3:checked ~ .label3 ~ label,
	    .radio4:checked ~ .label4 ~ label,
	    .radio5:checked ~ .label5 ~ label, {
	        background: url(../img/star22.png) no-repeat top center;
	    }

	}
	.az-stars:hover{
	    label{
	        background: url(../img/star11.png) no-repeat top center !important;
	    }
	    .label1:hover ~ label,
	    .label2:hover ~ label,
	    .label3:hover ~ label,
	    .label4:hover ~ label,
	    .label5:hover ~ label, {
	        background: url(../img/star22.png) no-repeat top center !important;
	    }
	}	
}

			// COMMENTS-tabs=================*******/

.zk-comment-links input[type="radio"] {
    display: none;
}
	#tab_1:checked  ~ #tab_l1,
	#tab_2:checked  ~ #tab_l2,	
{
    background: #F5F5F5;  

}
	#tab_1:checked  ~ #tab_l1:before,
	#tab_2:checked  ~ #tab_l2:before,{
}
	#tab_1:checked ~ .tabs_cont #tab_c1,
	#tab_2:checked ~ .tabs_cont #tab_c2,{
   
}

//=================END OF A SEPARATE-PRODUCT*************/

									//animation show menu
		
@keyframes anim{	
	0%{
		height: 0px;
	}	
	100%{
		height: 50px;		
	}	
}
.zk-category{
	.zk-show-menu{
		display: block;
		overflow: hidden;
		height: 0px;
		transition-property: all 1s ease-in-out;			
	}
}
.zk-category:hover{	
	.zk-show-menu{
		display: block;
		height: 50px;
		animation: anim 0.7s ease-in-out 0.3s;
		animation-fill-mode: both;			
	}	
}
						

@media only screen and (min-width : 320px) {
	.zk-category-5box{padding-left: 5%;}
}

@media only screen and (min-width : 480px) {
	 .about-company{
	 	padding-left: 8%;
	 }
	 .zk-category-5box{
	 	padding-left: 7%;
	 }
}

@media only screen and (min-width : 768px) {
	 .about-company{
		padding-left: 5%;
	 }
	 .zk-category-5box{
	 	padding-left: 6%;
	 }
}

@media only screen and (min-width : 992px) {
		.about-company{
		padding-left: 2%;
		
		.blk-left{		
			//overflow: hidden;		
			padding-right: 0px;
			display: block;
			visibility: visible;
			margin-top: 5%;

		}
		.blk-right{
			width: 60%;
			padding:1% 20px 0% 25px;					
		}	   
	}
	.zk-category-5box{
	 	padding-left: 1%;
	 }
	 .zk-head-caption{
	font-family: MC-700;
    font-size: 16px;
    border-bottom: 1px solid  #dfe4e8;
    padding-bottom: 10px;
    margin-top: 20px;     
}



				//SEPARATE-PRODUCT**************/

.zk-product-block{	
	.zk-left{
		float: left;		
		.zk-left-blok{				
			float: left;
			width: 370px;
			.zk-top-box {				
				max-width:370px;				
				height:377px;
				margin-bottom:20px;
			}
			.zk-middle-box{
				margin: 0;
			}			
			.zk-box-comments{
				.zk-comment-links{									
					#tab_l1, #tab_l2{
    					width: 50%;						
						float: left;						 					
					}									
				}				
			}
		}
	}
	.zk-center{
		float: left;    	
    	width:480px;    		    	
    	margin: 0px 15px 0 15px;    	
    	.zkrank{			
    		float: left;
    		padding-right: 10px;    		
    	}
    	.zk-top-rank{
    		border-bottom: 3px solid #e5e5e3;    		
	    	.zk-first-box{	    		
	    		float: left;	    			    		
	    	}
	    	.zk-second-box, .zk-third-box{
	    		float: left;
	    		border-left: 1px solid #e5e5e3;			   
	    	}
    	}
    	.zk-price-product{    		
    		border-bottom: 1px solid #e5e5e3;
    		.zkprice{				
			    float: left;			   
    		}
    		.zkstatus{				
			    float: left;			   
			   	padding-left: 19px;
			   	margin-top: 28px;
			   	width: 100px;	   
    		}
    	}
    	.zk-add-button{
    		float: left;   
    	}    	
	}
	.zk-right{
		float: right;
		padding: 10px 20px 0 10px;
		width: 17%;
		//min-width: 170px;
		min-height: 200px;				
	}
}
}

@media only screen and (min-width : 1248px) {
	.blk-right{
		width: 63%;			
		padding:3% 20px 0% 25px !important;		  
	}
	.zk-category-5box{
		padding-left: 0%;
	}
	.blk-left{			
		margin-top: 0%;
	}		 
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}