@import "reset.css";
@import "style.css";
@import "style2.css";
@import "style3.css";
@import "style5.css";
@import "style6.css";
@import "fonts.css";


.ab-header{
	.ab-header-logo{
		img{
			margin: 0 auto;
		}
	}
	.ab-logo-txt{
		text-align: center;
		span {
		    color: #b9b9b9;
		    display: inline-block;
		    font-family: MC-700;
		    font-size: 12px;
		    margin-top: 30px;
		    vertical-align: middle;
		}
	}
	.ab-phone{
		text-align: center;
		.ab-grey1{
			color:#C5C5C5;
			font-size: 21px;
			font-family: MC-700;
		}
		.ab-grey2{
			  color: #9b9b9b;
			  font-family: MSC-500;
			  font-size: 11px;
			  margin-top: 5px;
		}
		.ab-next-phone{
			color:black;
			font-size: 21px;
			font-family: MC-700;
		}
	}
	.ab-soc{
		margin: 0 auto;
		width: 93px;
		span{
			color: #000;
		    font-family: MC-700;
		    font-size: 12px;
		    display: block;
		    float: left;
		    padding-top: 7px;
		    padding-right: 4px;
		}
	}
	.ab-korzina-wrap{
		width: 250px;
		margin: 0 auto;
		position: relative;
		margin-top: 12px;
		img{
			width: 32px;
			height: 32px;
			position:absolute;
			top: 9px;
			}
		.ab-two-wr{
			padding-left:52px;
			.ab-korzina{
				span{
					a{
						border-bottom: 2px dotted #2f64ad;
					    color: #2f64ad;
					    font-family: MC-500;
					    font-size: 13px;
					}
				}
			}
			.ab-korzina:nth-child(1){
				span:last-child{
					background: url(../img/zamok.png) no-repeat left center;
					width: 11px;
					height: 14px;
					margin-left: 76px;
				    padding-left: 16px;
				}
			}
			.ab-korzina:nth-child(2){
				padding-top:14px;
				span:first-child{
					color: #c5c5c5;
				    font-family: MC-500;
				    font-size: 12px;
				}
				span:last-child{
					color: #000;
				    font-family: MC-700;
				    padding-left: 12px;
				}
			}
		}	
	}
}

/*================ Меню ================*/

.tpl-menuTop {
	margin-top:9px;
	margin-bottom:20px;
    border-bottom: 1px solid #e5e5e3;
    border-top: 1px solid #e5e5e3;
    box-shadow: 0 2px 5px #eaeaea;
    .brd{
    	font-size: 0;
    	ul{
    		li{
    			
			    font-family: MSC-2;
			    font-size: 11px;
			    text-transform: uppercase;
			    vertical-align: middle;
			    a{
			    	color: #434343;
			    	border-bottom: 2px solid transparent;
				    color: #434343;
				    display: block;
				    padding: 20px 28px;
				    transition: border-bottom 0.5s ease 0s;
				    width: 200px;
				    margin: 0 auto;
				    text-align: center;
			    }
			    a:hover{
			    	border-bottom:2px solid red;
			    }
		        .ab-next-menu{
			    	text-align: center;
			    	 .Reiker{
						text-transform: none;
						padding-bottom:15px;
						color:#717678;
				    }
				    .Reiker2{
						padding-top:15px;
				    }
			    	li{

				    	a{
							padding:0;
							color:#2F64AD;
							border-bottom: 2px dotted #2f64ad;
							font-size: 13px;
							font-family: MC-500;
							text-transform: none;
							margin-bottom:5px;
							//outline: 1px solid red;
							width: 102px;

						}
					}
			    }
    		}


    		.blk-search{
				width: 220px;
				margin: 0 auto; 
				input[type="text"] {
				    background: #f9f9f9 url("/img/ico-search.png") no-repeat scroll 9px center;
				    border: 1px solid #e5e5e3;
				    box-sizing: border-box;
				    display: inline-block;
				    margin-left: 6%;
				    padding: 6px;
				    vertical-align: top;
				    width: 126px;
				    height: 28px;
				}
				input[type="submit"] {
				    -moz-border-bottom-colors: none;
				    -moz-border-left-colors: none;
				    -moz-border-right-colors: none;
				    -moz-border-top-colors: none;
				    background: #fff none repeat scroll 0 0;
				    border-color: #e5e5e3 #e5e5e3 #e5e5e3 -moz-use-text-color;
				    border-image: none;
				    border-style: solid solid solid none;
				    border-width: 1px 1px 1px 0;
				    box-sizing: border-box;
				    color: #919191;
				    display: inline-block;
				    font-family: MC-700;
				    font-size: 12px;
				    line-height: 0;
				    padding: 13px 9px;
				    vertical-align: top;
				    width: 72px;
				    margin-left: -3px;
				}
    		}
    		a, input[type="submit"], input[type="button"], button {
			    cursor: pointer;
			}
    	}
    }
}



/*============= Конец Меню =============*/

/*============== Сайдбар ==============*/

.blk-menu{
	padding-right: 20px;
    width: 100%;
    ul{
    	border: 1px solid #e5e5e3;
	    border-radius: 4px;
	    box-sizing: padding-box;
	    list-style: outside none none;
	    padding: 0;
	    li{
	    	position:relative;
	    	border-top: 1px solid #e5e5e3;
	    	transition: background-color 0.5s ease 0s, color 0.5s ease 0s;
	    	a{
	    		color: #737678;
			    display: block;
			    font-family: MSC-2;
			    font-size: 11px;
			    line-height: 10px;
			    padding: 10px 15px;
			    
	    	}
	    }
	    .ab-after:after{
			position:absolute;
			content:"";
			background:url("/img/ab-sn2.png") no-repeat right center;
			width: 4px;
			height: 7px;
			right: 25px;
		    top: 11px;
	    }
	    .ab-after:hover:after{
			position:absolute;
			content:"";
			background:url("/img/ab-sn.png") no-repeat right center;
			width: 4px;
			height: 7px;
			right: 25px;
		    top: 11px;
	    }
	    li:hover{
	    	background:#E50135;

	    	a{
	    		color:#fff;
	    	}
	    }
	    .ab-l{
	    	height: 20px;
	    }
	    .ab-l:hover{
			background:none;
	    }
	    .h{
	    	background-color: #cbd3d8;
		    color: #fff;
		    font-family: MSC-2;
		    font-size: 11px;
		    padding: 13px;
		    border-top:none;

	    }
	    .h:after{
	    	position:absolute;
	    	content: "";
	    	background:url("/img/ico-woman.png") no-repeat right center;
			width: 16px;
			height: 16px;
			right: 25px;
		    top: 11px;
	    }
	    .h:hover{
	    	background:#CBD3D8;
	    }
	    
    }
}
.blk-menu2{
	margin-top:-10px;
	  .h2{
	    	background-color: #cbd3d8;
		    color: #fff;
		    font-family: MSC-2;
		    font-size: 11px;
		    padding: 13px;
		    border-top:none;

	    }
	    .h2:after{
	    	position:absolute;
	    	content: "";
	    	background:url("/img/ico-men.png") no-repeat right center;
			width: 16px;
			height: 16px;
			right: 25px;
		    top: 11px;
	    }
	    .h2:hover{
	    	background:#CBD3D8;
	    }
}

/*========== Конец Сайдбара ==========*/

/*============= Слайдер ==============*/

.ab-slider{
	.slidetextbox{
    width: 82%;
    margin-left: 10px !important;
    margin-top: 0px;
    text-align: center;
	    a{
	    	border: 2px solid #e90014;
		    border-radius: 4px;
		    color: #fff;
		    display: inline-block;
		    font-family: MSC-1;
		    font-size: 14px;
		    left: 135px;
		    padding: 4px;
		    position: absolute;
		    text-align: center;
		    top: 41px;
		    transition: background-color 0.5s ease 0s;
		    width: 109px;
	    }
	    a:hover{
	    	background:#e90014;
	    }
	}
	.ah-sbox1{
	    position: relative;
	    width: 100%;
	}
	.item{
	    
	    background-size: cover;
	    //height: 376px;
	}

	.slidetext{
	    display: none;
	    font-family: "Lato-Light";
	    color: #fff;
	    font-size: 18px;
	    line-height: 22px;
	}
	.owl-dots{
	    display: block;
	    position: absolute;
	    left: 37%;
	    bottom: 9%;
	}
	.owl-dot{
	    display: inline-block;
	    margin-left: 9px;
	    width: 12px; 
	    height: 12px;
	    border: 2px solid #fff;
	    background: none;
	    border-radius: 10px;
	}
	.owl-dot.active{
	    width: 12px; 
	    height: 12px;
	    background: #fff;
	    border-radius: 10px; 
	}
	.ab-red{
		background:#E50035;
		//padding:26px;
		border-radius:5px;
	}
	.ab-red{
		.ab-img-box2, .ab-img-box3, .ab-img-box4, .ab-img-box5{
			//padding:18px;
			padding-top:18px;
			padding-bottom:18px;
			padding-left:15px;
			width: 209px;
			//outline: 1px solid #fff;
			//float: left;
			margin: 0 auto; 
			span{
				display:inline-block;
				height: 47px;
				width: 190px;
				padding-left:67px;
				//outline: 1px solid #fff;
				//background:url("/img/ab-1.png") no-repeat left top 8px;
				a{
					
					//width: 205px;
					font-family: MSC-2;
				    font-size: 11px;
				    color: #fff;
				}
				
			}
		}
		.ab-img-box2{
			border-radius: 5px;
			span{
				background:url("/img/ab-1.png") no-repeat left top 8px;
			}
		}
		.ab-img-box3{
			padding-left:20px;
			span{
				background:url("/img/ab-2.png") no-repeat left 2px top 5px;
			}
		}
		.ab-img-box4{
			span{
				background:url("/img/ab-3.png") no-repeat left 1px top 3px;
			}
		}
		.ab-img-box5{
			padding-left:20px;
			span{
				background:url("/img/ab-4.png") no-repeat left 0 top -1px;
			}
		}
		.ab-img-box5{
			border-radius: 5px;
		    //outline: 1px solid #fff;
		    width: 220px;
		}
		.ab-img-box2:hover, .ab-img-box3:hover, .ab-img-box4:hover, .ab-img-box5:hover {
			background:#D90132;
			cursor: pointer;
			a{
					border-bottom:2px dotted #fff;
				}

		}
	}
}


/*========= Конец Слайдера ==========*/

@media only screen and (min-width : 250px) {

}

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
	.ab-slider{
		.slidetextbox{
		    a{
			    left: 57px;
			    top: 149px;
			    width: 109px;
		    }
		}    
	}	    
}

@media only screen and (min-width : 768px) {
	
	.ab-slider{
		.slidetextbox{
		    a{
			    left: 82px;
			    top: 221px;
			    width: 109px;
		    }
		}    
	}	
}

@media only screen and (min-width : 992px) {
	
	.ab-red{
		.ab-img-box2, .ab-img-box3, .ab-img-box4, .ab-img-box5{
			float: left;
			position:relative;
		}
		.ab-img-box2:after{
			position:absolute;
			content:"";
			background:url("/img/ab-line.png") no-repeat right center;
			width: 1px;
			height: 70px;
			top:7px;
			right: -2px;
		}
		.ab-img-box3:after{
			position:absolute;
			content:"";
			background:url("/img/ab-line.png") no-repeat right center;
			width: 1px;
			height: 70px;
			top:7px;
			right: 0;
		}
		.ab-img-box4:after{
			position:absolute;
			content:"";
			background:url("/img/ab-line.png") no-repeat right center;
			width: 1px;
			height: 70px;
			top:7px;
			right: 0;
		}
	}
	.ab-slider{
	    .ah-arrowleft{
	        display: block;
	        position: absolute;
	        width: 44px; 
	        height: 44px;
	        left: 2%;
	        top: 36%;
	        background: #f9f9f9 url("/img/slide-prev.png") no-repeat scroll center center;
		    border-radius: 0 15px 15px 0;
		    left: 0;
		    cursor: pointer;
		    height: 70px;
		    position: absolute;
		    transition: background-color 0.5s ease 0s;
		    width: 35px;
	    }
	    .ah-arrowleft:hover{
	    	background: #CBD3D8 url("/img/slide-prev.png") no-repeat scroll center center;
	    }
	    .ah-arrowright{
	    	display: block;
	        position: absolute;
	        width: 44px; 
	        height: 44px;
	        right: 2%;
	        top: 36%;
	        background: #f9f9f9 url("/img/slide-next.png") no-repeat scroll center center;
	    	border-radius: 15px 0 0 15px;
	    	right: 0;
		    cursor: pointer;
		    height: 70px;
		    position: absolute;
		    transition: background-color 0.5s ease 0s;
		    width: 35px;
	        
	    }
	    .ah-arrowright:hover{
	    	background: #CBD3D8 url("/img/slide-next.png") no-repeat scroll center center;
	    }
	    .owl-dots{
	        left: 44%;
	        bottom: 12%;
	    }
	    .slidetext{
	        display: block;
	    }
	    .ah-slink{
	        margin-top: 10px;
	    }
	    .slidetextbox, .slideimgbox{
	        float: left;
	    }
	    .slidetextbox{
	        width: 69%;
	        margin-left: 56px;
	        margin-top: 23px;
	        a{
	    	display: inline-block;
	    	border: 2px solid #e90014;
		    border-radius: 4px;
		    //bottom: 84px;
		    color: #fff;
		    font-family: MC-500;
		    font-weight: bold;
		    font-size: 14px;
		    left: 94px;
		    padding: 12px;
		    position: absolute;
		    text-align: center;
		    transition: background-color 0.5s ease 0s;
		    width: 160px;
	    }
	    }
	}
	.ab-header{
		.ab-header-logo{	
			float: left;
			margin-left:0; 
		}
		.ab-phone, .ab-soc{
			margin-left: 64px;
			padding-top:22px;
		}
		.ab-logo-txt{
			margin-left: 15px;
			text-align: left;
			float: left;
		}
		.ab-phone{
			float: left;
		}
		.ab-soc{
			float: left;
		}
		.ab-korzina-wrap{
			float: right;
		}
	}
	.tpl-menuTop {
	    .brd{
	    	ul{
	    		li{
				    font-family: MSC-2;
				    font-size: 11px;
				    text-transform: uppercase;
				    vertical-align: middle;
				    display: inline-block;
				    border-right:1px solid #E5E5E3;
				    a{
					    padding: 20px 56px 20px 20px;
					    width: 100%;
				    }
				    .ab-next-menu{
				    	display: none;
				    }
				    .Reiker{
						text-transform: none;
						padding-bottom:15px;
				    }
				    .Reiker2{
						padding-top:15px;
				    }
	    		}
	    		.ab-s{
					position:relative;
	    		}
	    		.ab-s:after{
	    			position:absolute;
	    			content: "";
					background:url("/img/ab-r.png") no-repeat;
					width: 8px;
					height: 4px;
					right: 36px;
				    top: 25px;
	    		}
	    		.ab-s:hover:after{
	    			position:absolute;
	    			content: "";
					background:url("/img/ab-r2.png") no-repeat;
					width: 8px;
					height: 4px;
					right: 36px;
				    top: 25px;
	    		}
    			.ab-proc{
	    			position:relative;
				
    		}
    		.ab-proc:after{
    			position:absolute;
    			content: "";
				background:url("/img/ab-proc.png") no-repeat;
				width:16px;
				height: 16px; 
				right: 40px;
			    top: 6px;
    		}
	    		li:hover .ab-next-menu{
	    			text-align: left;
					display: block;
					position:absolute;
					background:#fff;
					padding-top:25px;
					color:#757779;
					text-transform: none;
					padding-left:22px;
					padding-right:73px;
					border-radius:5px;
					//outline: 1px solid red;
					z-index: 9999;
			    	li{
						display: block;
						border-right:none;
						a{
							padding:0;
							color:#2F64AD;
							border-bottom: 2px dotted #2f64ad;
							font-size: 13px;
							font-family: MC-500;
							text-transform: none;
							margin-bottom:5px;
						}
						a:hover{
							border-bottom: 2px dotted #2f64ad;
						}
			    	}
	    		}
	    		.blk-search{
					padding-right:0;
					border-right:none;
	    		}

	    		li:first-child a{
				    padding-left: 0;
				    text-align: left;
				    position:relative;
				}
	    	}
	    }
	}		
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}